/* Basiv elements -------------------------------------------------------------------*/
body {
	background-image: url('../img/background.png');
	background-color: none;
	margin: 0px;
	
}


div#menu {
	background-image: url('../img/background.png');
	/* border-radius: 10px; */
	width: 1000px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

div#slides {
	width: 1000px;
	height: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	background-image: url('../img/background.png');
	/* background-color: rgba(0,0,0,0.17); 
	border-radius: 10px;*/
	z-index:0;
}

div#content {
	background-image: url('../img/background.png');
	/* background-color: red; */
	width: 1000px;
	margin: 0px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -16px;
	text-align: center;
}

footer {
	width: 100%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -16px;
	background: #5B5B5B url(img/body_bg.gif) top repeat-x;

}

header {
	width: 100%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/background.png');
}


/* Menú -------------------------------------------------------------------*/

img {
border: none;

}

img#logo {
	position: absolute;
	height: 60px;
	width: 174px;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

img#mpopkorn {
	position: absolute;
	height: 100px;
	width: 110px;
	margin-left: 500px;
}

img#malertas {
	position: absolute;
	height: 100px;
	width: 110px;
	margin-left: 625px;
}

img#msupport {
	position: absolute;
	height: 100px;
	width: 110px;
	margin-left: 740px;
}

img#mabout {
	
	position: absolute;
	height: 100px;
	width: 110px;
	margin-left: 840px;
}

/* Slides -------------------------------------------------------------------*/


.slides_container {
	/*Contenidor exterior*/
	width:1000px;
	height:400px;	
	z-index: 0;
	/* background-color: blue;*/
}

.slides_container div {
	/*Contenidor interior*/
	width:1000px;
	height:400px;
	display:block;
	z-index: 0;
/*	background-color: green; */
}

	/* pagination per slides*/
a {
	z-index: 100000;
}

.pagination {
	/* canviem la posició de les boles*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	width:100px;
	z-index: 10;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/slides/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

video#v1 {
	display: block;
	position: absolute;
	margin-left: 200px;
	margin-top: 50px;
}

div#cv1 {
	width: 1000px;
	height: 400px;
	text-align: center;
	position: absolute;
	margin: auto;
}

/* content ------------------------------------------------------------------- */

p#desc {
	width: 600px;
	margin: 40px auto 0 auto;/* top - right - bottom -left*/
	text-align: justify;
}

/* footer ------------------------------------------------------------------- */

div#uccomp {
	width: 200px;
	text-align: left;
}

p.pf {
	color: white;
	font-family: Helvetica;
}

h2 {
	color: rgba(172,171,172,0.92);
	font-family: Helvetica;
}

div#pf1 {
	position: absolute;
	margin-left: 100px;
	margin-top: 50px;
	font-style: italic:
}

div#alex {
	margin-top: 10px;
	margin-left: 60px;
}

div#antar {
	margin-top: 10px;
	margin-left: 60px;
}

.notblue {
	text-decoration: none;
	color: white;
}