body {
	margin:0 auto;
	width:1024px;
	background-color:#343434;
}

#info-title {
	float:left;
	margin-top:20px;
	font-family: Gill Sans, Verdana;
	font-size: 26px;
	color:#FFFFFF;
	line-height: 35px;
	text-shadow:-2px -2px 2px #000000;
}

.header {
	width:1024px;
	height:78px;
	margin:0px;
	position:relative;
	background-color:#242424;
}


#hqlogo {
	margin-top:15px;
	margin-right:10px;
	margin-bottom:15px;
	margin-left:10px;
	float:left;
}

#klogo {
	float:right;
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#info-format {
	margin-top:5px;
	margin-right:10px;
	margin-bottom:5px;
	margin-left:10px;
	font-family: Gill Sans, Verdana;
	font-size: 12px;
	line-height: 20px;
	float:right;
}

#title {
	margin:2px;
	font-family: Gill Sans, Verdana;
	font-size: 12px;
	color:#99CA00;
	line-height: 12px;
	text-shadow:-2px -2px 2px #000000;
}



#view {
	margin:2px;
	font-family: Gill Sans, Verdana;
	font-size: 10px;
	color:#FFFFFF;
}


.thumbnails {
	background-color:#242424;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:984px;
}

.wall-thumbnail {
	margin:0px;
	position:relative;
}

.box-thumbnail {
	width:154px;
	height:174px;
	margin:4px;
	float:left;
}

.box-thumbnail img {
	border-width:1px; 
	border-style:solid;
	border-color:#4F4F4F;
	width:154px;
	height:114px;
}